{% extends 'layout/base.twig' %}
{% import 'macros/helpers.twig' as helpers %}

{% block content %}
<div class="row-fluid">
    <h2>Profile data for {{ result.meta.url }}</h2>
</div>
<div class="row-fluid">
<div class="span3">
    <div class="sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">This Run</li>
            <li><strong>URL</strong> {{ result.meta.url }}</li>
            <li><strong>Time</strong> {{ result.meta.SERVER.REQUEST_TIME|date('r') }}</li>
            <li><strong>ID</strong> <a href="/custom_help.php?id={{ result._id }}" style="font-size: small; display: inline;">{{ result._id }}</a></li>
            <li><strong>Wall Time</strong> {{ result.profile['main()'].wt|as_time }}</li>
            <li><strong>CPU Time</strong> {{ result.profile['main()'].cpu|as_time }}</li>
            <li><strong>Memory Usage</strong> {{ result.profile['main()'].mu|as_bytes }}</li>
            <li><strong>Peak Memory Usage</strong> {{ result.profile['main()'].pmu|as_bytes }}</li>

            <li class="nav-header">GET</li>
            <li>{{ helpers.property_list('GET', result.meta.get) }}</li>

            <li class="nav-header">SERVER</li>
            <li>{{ helpers.property_list('SERVER', result.meta.SERVER) }}

        </ul>
    </div><!--/.well -->
</div><!--/span-->

<div class="span9">

    <div class="row-fluid">
        <h2>Watch Functions</h2>

        <table class="table table-hover">
        <thead>
            <tr>
                <th>Function</th>
                <th>Call Count</th>
                <th><span class="tip" title="Exclusive wall time">ewt</span></th>
                <th><span class="tip" title="Exclusive memory use">emu</span></th>
                <th><span class="tip" title="Exclusive peak memory use">epmu</span></th>
            </tr>
        </thead>
        <tbody>
        {% for key, value in watches %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value.ct }}</td>
            <td>{{ value.ewt|as_time }}</td>
            <td>{{ value.emu|as_bytes }}</td>
            <td>{{ value.epmu|as_bytes }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="row-fluid">
        <div class="span6">
          <h2>Exclusive Wall Time</h2>
          <div id="wall-time-chart" class="chart-container"></div>
          <dl>
          {% for value in wall_time %}
              <dt class="text-wrap">{{ value.name }}</dt>
              <dd>{{ value.value|as_time }}</dd>
          {% endfor %}
          </dl>
        </div>

        <div class="span6">
          <h2>Memory Hogs</h2>
          <div id="memory-usage-chart" class="chart-container"></div>
          <dl>
          {% for value in memory %}
              <dt class="text-wrap">{{ value.name }}</dt>
              <dd>{{ value.value|as_bytes }}</dd>
          {% endfor %}
          </dl>
        </div>
    </div>

  </div><!--/row-->

  <div class="row-fluid">
  </div><!--/row-->

</div>

<div class="row-fluid">
  <table class="table table-hover table-sort">
    <thead>
        <tr>
            <th>Function</th>
            <th>Call Count</th>
            <th>Exclusive Wall Time</th>
            <th>Exclusive CPU</th>
            <th>Exclusive Memory Usage</th>
            <th>Exclusive Peak Memory Usage</th>
            <th>Inclusive Wall Time</th>
            <th>Inclusive CPU</th>
            <th>Inclusive Memory Usage</th>
            <th>Inclusive Peak Memory Usage</th>
        </tr>
    </thead>
    <tbody>
    {% for key, value in profile %}
    <tr>
        <td class="text">{{ key }}</td>
        <td>{{ value.ct }}</td>
        <td>{{ value.ewt|as_time }}</td>
        <td>{{ value.ecpu|as_time }}</td>
        <td>{{ value.emu|as_bytes }}</td>
        <td>{{ value.epmu|as_bytes }}</td>
        <td>{{ value.wt|as_time }}</td>
        <td>{{ value.cpu|as_time }}</td>
        <td>{{ value.mu|as_bytes }}</td>
        <td>{{ value.pmu|as_bytes }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div><!--/row-->
{% endblock %}

{% block jsfoot %}
<script>
$(document).ready(function () {
    var wallTime = {{ wall_time|json_encode|raw }};
    Xhgui.columnchart('#wall-time-chart', wallTime, {
        width: 350,
        height: 300,
        postfix: ' \u00b5s'
    });
    var memoryData = {{ memory|json_encode|raw }};
    Xhgui.columnchart('#memory-usage-chart', memoryData, {
        width: 350,
        height: 300,
        postfix: ' bytes'
    });
});
</script>
{% endblock %}
