<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Xhgui</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/xhgui.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ url('/') }}">XHG</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="{{ url('/') }}">Recent</a></li>
                        <li><a href="{{ url('/', {'sort': 'wt'}) }}">Longest wall time</a></li>
                        <li><a href="{{ url('/', {'sort': 'cpu'}) }}">Most CPU</a></li>
                        <li><a href="{{ url('/', {'sort': 'mu'}) }}">Most memory</a></li>
                        <li><a href="{{ url('/custom.php') }}">Custom View</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {% block content '' %}

        <hr>

        <footer class="row-fluid footer-text">
            <span class="span4">© Paul Reinheimer &amp; Mark Story 2012</span>
            <span class="span4">1,000,000 µs = 1 second</span>
            <span class="span4">1,048,576 bytes = 1 MB</span>
        </footer>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/d3.js"></script>
    <script src="js/jquery.tablesorter.js"></script>
    <script src="js/jquery.stickytableheaders.js"></script>
    <script src="js/xhgui.js"></script>
    {% block jsfoot '' %}
</body>
</html>
