/**
 * XHGui colors
 *
 * red - #d46245
 * orange - #e9814f
 * green - #637964
 * yellow - #ffe85e
 * blue - #59bdd2
 * pink - #e3b7b3
 * purple - #b63c71
 */
@font-face {
    font-family: 'Chunkfive';
    src: url('../fonts/Chunkfive-webfont.eot');
    src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chunkfive-webfont.woff') format('woff'),
         url('../fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/Chunkfive-webfont.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * Typography
 */
h1, h2, h3, h4, h5, h6,
.nav-header,
.brand {
    -webkit-font-smoothing: antialiased;
    font-family: 'Chunkfive';
    font-weight: normal;
}
.units {
    color: #999999;
}
.text-wrap {
    word-break: break-all;
}

/**
 * Top Navbar
 */
.navbar-inner {
    background: -webkit-linear-gradient(rgb(247, 247, 247), rgb(240, 240, 240))
    background: -moz-linear-gradient(rgb(247, 247, 247), rgb(240, 240, 240))
    background: linear-gradient(rgb(247, 247, 247), rgb(240, 240, 240))
}
.navbar-static-top .navbar-inner {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar .brand {
    color: rgb(100, 100, 118);
}
.navbar .nav > li > a {
    color: #444;
}
.navbar .brand {
    border-right: 1px solid rgb(212, 212, 212);
    -webkit-box-shadow: 1px 0px 1px white;
    -moz-box-shadow: 1px 0px 1px white;
    box-shadow: 1px 0px 1px white;
}

/**
 * Sidebar navs
 */
.sidebar-nav {
    border-right: 1px solid rgb(221, 221, 221);
}
.nav-list dl {
    margin: 0;
}
.sidebar-nav li a:hover {
    background: transparent;
}

/**
 * Pagination
 *
 * Remove the borders and boxshadows bootstrap applies.
 */
.pagination ul {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pagination > ul > li.active > span {
    color: #d46245;
}
.pagination > ul > li > span,
.pagination > ul > li > a {
    border-top: 0;
    border-bottom: 0;
}
.pagination ul > li:last-child > span,
.pagination > ul > li:last-child > a {
    border-right: 0;
}
.pagination ul > li:first-child > span,
.pagination > ul > li:first-child > a {
    border-left: 0;
}

/**
 * Tables
 */
th {
    text-align: center;
}

td.right {
    text-align: right;
}
th.right {
    text-align: right;
    padding-right: 30px;
}
th.header {
    background: url(../img/bg.gif) center right no-repeat;
    cursor: pointer;
    padding-right: 18px;
}
th.headerSortDown {
    background-image: url(../img/desc.gif);
}
th.headerSortUp {
    background-image: url(../img/asc.gif);
}
.tableFloatingHeader {
    background-color: #fff;
    border-bottom: 1px solid rgb(217, 217, 217);
}
.tableFloatingHeaderOriginal th {
    border-top: none;
}



/**
 * Chart styles
 */
.chart-container {
    position: relative;
}
.chart-container .popover {
    width: auto;
}

.chart-axis path,
.chart-axis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
}
.chart-line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.chart-bar {
    fill: #d46245;
}

/**
 * Footer
 */
.footer-text {
    text-align: center;
}
